.nav {
  transform: translate(0, -100%);
  transition: all 0.7s;
  position: fixed;
  width: 100vw;
  z-index: 1;
  .navDiv {
    text-align: center;
    background-color: #777777;
    a {
      display: block;
      color: white;
      text-decoration: none;
      padding: 5px 0;
      position: relative;
    }
    a:not(:first-child)::after {
      display: block;
      content: "";
      width: 80%;
      height: 1px;
      position: absolute;
      left: 50%;
      bottom: 100%;
      transform: translateX(-50%);
      background-color: white;
    }
  }
  span {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: black;
    color: white;
  }
}
@media screen and (min-width: 426px) {
  .nav {
    transform: translate(100%, 0);
    width: 350px;
    .navDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      a {
        width: 250px;
        margin: 0 auto;
      }
      a:not(:first-child)::after {
        width: 100%;
      }
    }
    span {
      padding-right: 30px;
      left: 0%;
      top: 50%;
      right: auto;
      width: 75px;
      height: 75px;
      line-height: 75px;
      border-radius: 50%;
      transform: translate(-50%, 0);
    }
  }
}
