.footer {
  a {
    text-decoration: none;
    color: white;
  }
  position: relative;

  background-color: #373f4d;
  color: white;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  min-height: 720px;

  > div {
    flex: 2;
    background-color: #032364;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 40px;
    padding-left: 60px;
    width: 400px;
    a {
      text-align: left;
      width: 200px;
      font-size: large;
      img {
        width: 100%;
      }
    }
  }

  ul {
    list-style: none;
    align-self: center;
    height: 330px;
    li {
      width: 200px;
      &:first-of-type {
        font-size: x-large;
      }
      div {
        max-width: 90vw;
        width: 300px;
        margin-right: -5vw;
      }
      padding: 10px;
    }
    &:last-of-type {
      flex: 2;
    }
  }
}

@media screen and (max-width: 1010px) {
  .footer {
    gap: 0;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
    gap: 40px;
    padding: 0 0 20px;
    > div {
      width: 100%;
      align-items: center;
      padding: 20px 0;
    }
    ul {
      text-align: center;
      height: auto;
      width: 100%;
      li {
        width: auto;
        div {
          margin: auto;
        }
      }
    }
  }
}
