.main {
  h2 {
    color: #002748;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 100px;
    span {
      transition: 0.5s;
      position: relative;
      padding-bottom: 16px;
      cursor: pointer;

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5px;
        width: 40%;
        height: 5px;
        background-color: #002748;

        transition: 0.5s;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
  .mm {
    position: fixed;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.8);
    padding: 180px 10px 10px;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    font-size: xxx-large;
    color: white;
    font-weight: 800;
  }
}

@media screen and (max-width: 450px) {
  .main {
    h2 {
    }
  }
}
